{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block nav %}
<nav>
    <div class="wrapper">
        <ul>
            <li><h1><a href="{% url "staff_main" %}">BigSpoon</a></h1></li>
            <li><a href="{% url "staff_history" %}"><i class="icon-time"></i> History</a></li>
            <li><a href="{% url "staff_menu" %}"><i class="icon-food"></i> Menu</a></li>
            <li><a href="{% url "staff_report" %}"><i class="icon-bar-chart"></i> Report</a></li>
            <li><a href="{% url "staff_table" %}"><i class="icon-group"></i> Tables</a></li>
            <li><a href="{% url "logout" %}"><i class="icon-times"></i> Logout</a></li>
        </ul>
    </div>
</nav>
{% endblock nav %}
