{% extends "staff.html" %}
{% load staticfiles %}
{% load compress %}
{% load cache %}
{% load menufilters %}
{% block content %}
   

    {% cache 3600 dropdown %}
    <div id="dropdown-for-page" class="dropdown dropdown-tip">
        <ul class="dropdown-menu">
            {% for table in table_list %}
            <li><a data-toTableId="{{table.id}}" class="targetTable">
            to table {{table.name|capfirst}}
            </a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="dropdown-for-categories" class="dropdown dropdown-tip">
        <ul class="dropdown-menu">
            {% for category in categories %}
            <li><a data-categoryId="{{category.id}}" class="targetCategory" onclick="chooseCategory(this);">
            {{category.name|capfirst}}
            </a></li>
            {% endfor %}
        </ul>
    </div>

    {% for category in categories %}
    <div id="dropdown-for-dish-category-{{category.id}}" class="dropdown dropdown-tip">
        <ul class="dropdown-menu">     
        {% for dish in dishes|key:category.id %}               
            <li><a data-dishId="{{dish.id}}" class="targetDish" onclick="chooseDish(this);">
            {{dish.name|capfirst}}
            </a></li>                    
        {% endfor %}
        </ul>
    </div>                    
    {% endfor %}
    {% endcache %}
{% endblock content %}
