{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<div class="wrapper">
    <a class="add" href="#"><i class="icon-plus"></i> Add menu item</a>
    <h1>Breakfast Menu</h1>

    {% for dish in object_list %}
        <div class="menu-item">
            <img src = "{{ dish.photo.url }}"/>
            <span>
                <input class="name" type="text" placeholder="Dish name here" value="{{ dish.name }}"> <input class="price" type="text" placeholder="$8" value="{{ dish.price }}">
            </span>
            <span>
                <input class="description" type="textarea" placeholder="Dish description here" value="{{ dish.desc }}">
                <a class="save" href="#"><i class="icon-save"></i> Save</a>
            </span>

        </div>
    {% empty %}
        <p>No menu items yet.</p>
    {% endfor %}

</div>

{% endblock %}