{% extends "base_nav.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<div class="wrapper">
    <a class="add" href="/staff/menu/add/"><i class="icon-plus"></i> Add menu item</a>
    <h1>Menu</h1>

  <form action="/staff/menu/" method="post">{% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
        <div class="menu-item">
            {{form.id}}
            <img src = "{{ form.instance.photo.url }}"/>
            <span>
                <p class="photo">{{form.photo}}</p>
                <p class="name">{{form.name}}</p>
                <p class="price">{{form.price}}</p>
                <p class="description">{{form.desc}}</p>
            </span>

        </div>
    {% endfor %}

    <input class="save" type="submit" value="Save" />
  </form>

</div>


{% endblock %}

