{% extends "bg_order/staff.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<p>Meal Report</p>

<style>
    .separate-column{ padding-left:15px; }
</style>
<table class="sortable">
    <thead align="left">
        <tr>
            <th >S/N</th>
            <th class="separate-column">Meal Creation Date</th>
            <th class="separate-column">Dished Ordered</th>
            <th class="separate-column">Customer</th>
            <th class="separate-column">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td class="separate-column">Jul 6, 2006 8:14 AM</td>
            <td class="separate-column">fish</td>
            <td class="separate-column">Yos</td>
            <td class="separate-column">$9.99</td>
        </tr>
        {% for meal in object_list %}
		<tr>
			<td>1</td>
			<td class="separate-column">{{meal.created}}</td>
			<td class="separate-column"><!-- {{order.dish.name}} {{order.quantity}}  --></td>
			<td class="separate-column">{{meal.diner.get_full_name}}</td>
			<td class="separate-column">{{}}</td>
		</tr>
			{% for order in meal.orders.all %}
			<tr>
				<td></td>
				<td class="separate-column"><!-- {{order.dish.name}} {{order.quantity}}  --></td>
				<td></td>
			</tr>
			{% endfor %}
        {% endfor %}
    </tbody>
</table>


{% endblock content %}

{% block morejs %}
<!--Table-->
<script src="{% static "js/sorttable.js"%}"></script>
{% endblock morejs %}
