{% extends "staff.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<div class="wrapper">
    {% for table in table_list %}

    <div class="table">
        <h3>{{table.name}}</h3>
        {% for meal in table.meals.all %}
            {% if meal.status == 1 %}
            <div class='history'>
            {% else %}
            <div class='active'>
            {% endif %}
                <span class='user'>
                    <img class="thumbnail-navigation" src="{{meal.diner.avatar_url}}" />
                    <h4>{{ meal.diner.get_full_name }}'s orders</h4>
                </span>
                {% if meal.note %}
                    <p class="note">{{meal.note}}</p>
                {% endif %}
                <ul class="order">
                    {% for order in meal.orders.all %}
                    <li>{{order.dish.name}} <em>{{order.quantity}}</em></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
    </div>
    {% endfor %}

</div>

{% endblock content %}
