{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<div class="wrapper-no-bg">
    <div class="user-info">
        <span class='user'>
            <img class="thumbnail-navigation" src="{{diner.avatar_url}}" />
            <h3>{{diner.first_name}} {{diner.last_name}}</h3>
        </span>

        <span class='user-stats'>
            {% if diner.profile.gender == 'M' %}
            <p class='visits'><i class="icon-male"></i></p>
            {% elif diner.profile.gender == 'F' %}
            <p class='visits'><i class="icon-female"></i></p>
            {% endif %}
            <p class='visits'><i class="icon-user"></i> {{diner.meals.count}} visits</p>
            <p class='spent'><i class="icon-dollar"></i> {{diner.get_total_spending}} spent</p>
        </span>

        <!-- order history -->
        <div class="past-orders">
            <h3><i class="icon-time"></i> Past Orders</h3>
            {% for meal in diner.meals.all %}

            <h5>{{meal.get_created}}</h5>

            <ul class="order">
                {% for order in meal.orders.all %}
                <li>{{order.dish}} <em>{{order.quantity}}</em></li>
                {% endfor %}
            </ul>

            {% endfor %}
        </div>

        {% if diner.profile %}
        <div class="user-preferences">
            <h4><i class="icon-frown"></i> Known Allergies</h4><p class="allergies">
                {{diner.profile.allergies}}
            </p>

            <h4><i class="icon-warning-sign"></i> Dietary requirements</h4><p class="vegetarian">
                {% if diner.profile.vegetarian %}
                Vegetarian
                {% endif %}

                {% if diner.profile.muslim %}
                Muslim
                {% endif %}
            </p>

            <h4><i class="icon-heart"></i> Favourite categories</h4><p class="favourites">
                {{diner.profile.get_favourite_categories}}
            </p>

            <!-- last feedback -->
            <h4><i class="icon-star"></i> Feedback</h4>
            <p class="feedback">
                Last visit was good. Food is great.
            </p>

            <!-- manager notes -->
            <h4><i class="icon-file-alt"></i> Notes</h4>
            <input class="notes" type="textarea" placeholder="Likes to sit near windows" value="

            {% for note in diner.notes.all%}
            {{note.content}}
            {% endfor %}

            "/>
        </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
