<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BigSpoon</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.3216.bigspoon.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.961</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb617139018336855</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.961</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5e0d63d5b12c89cf3ff015e07958d5a94a75722a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>617139018336855</string>
	<key>FacebookDisplayName</key>
	<string>BigSpoon</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>BigSpoon helps you find the restaurants closest to you:)</string>
	<key>NSLocationUsageDescription</key>
	<string>BigSpoon helps you find the restaurants closest to you:)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BigSpoon helps you find the restaurants closest to you:)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Proxima Nova Semibold.otf</string>
		<string>Proxima Nova Regular.otf</string>
		<string>Proxima Nova Bold.otf</string>
		<string>copyfonts.com_segoe_ui_light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
