{% extends "base_nav.html" %}

{% load staticfiles %}

{% block content %}

<div class="wrapper">
    <h1>Add Menu</h1>

    <div class="menu-item">
        <form class="menu-add" action="/staff/menu/add/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <span>
                <p class="outlet">{{form.outlet.as_hidden}}</p>
                <p class="name">{{form.name.label}} {{form.name}}</p>
                <p class="pos">{{form.pos.label}} {{form.pos}}</p>
                <p class="price">{{form.price.label}} {{form.price}}</p>
                <p class="description">{{form.desc.label}} {{form.desc}}</p>
                <p class="photo">{{form.photo.label}} {{form.photo}}</p>
                <p class="start_time">{{form.start_time.label}} {{form.start_time}}</p>
                <p class="end_time">{{form.end_time.label}} {{form.end_time}}</p>
                <p class="categories">{{form.categories.label}} {{form.categories}}</p>
            </span>

            <input class="save" type="submit" value="Add dish" />

        </form>

        {% if form.errors %}
            <p class="error">{{ form.errors }}</p>
        {% endif %}

    </div>

{% endblock content %}
{% block js %}
<!--TIME PICKER - Load in this order: basejs, timepickerjs, datepair.js, run_timepicker.js-->
<script src="{% static "js/timepicker/base.js"%}"></script>
<script src="{% static "js/timepicker/jquery.timepicker.js"%}"></script>
<script src="{% static "js/timepicker/datepair.js"%}"></script>
<script src="{% static "js/timepicker/runtimepicker.js"%}"></script>
{% endblock js %}
