{% extends "staff.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<div class="wrapper-bg">

    <a class="add" href="/staff/menu/add/"><i class="icon-plus"></i> Add menu item</a>

    <span class="notifications">
    {% if formset.errors %}
        <p class="error"><i class="icon-frown"></i> {{ formset.errors }}</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <p class="success"><i class="icon-ok-sign"></i> {{ message }} </p>
        {% endfor %}
    {% endif %}
    </span>

    <h1>Menu</h1>

  <form action="/staff/menu/" method="post">{% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
        <div class="menu-item">
            {{form.id}}
            <img src = "{{ form.instance.photo.url_640x400 }}"/>
            <span>
                <p class="name"><label>{{form.name.label}}</label> {{form.name}}</p>
                <p class="price"><i class="icon-usd"></i> {{form.price.label}} {{form.price}}</p>
                <p class="pos"><i class="icon-barcode"></i> POS {{form.pos}}</p>
                <p class="description">{{form.desc.label}} <br/>{{form.desc}}</p>
                <p class="start_time"><i class="icon-time"></i> {{form.start_time.label}} <br/>{{form.start_time}}</p>
                <p class="end_time"><i class="icon-time"></i> {{form.end_time.label}} <br/>{{form.end_time}}</p>
                <p class="quantity"><i class="icon-shopping-cart"></i> Stock <br/> {{form.quantity}}</p>
                <p class="photo"><i class="icon-camera"></i> {{form.photo.label}} {{form.photo}}</p>
                <p class="categories"><i class="icon-tag"></i> {{form.categories.label}} {{form.categories}}</p>
            </span>

        </div>
    {% endfor %}


    <span class="save-bar">

        <span>
    <input class="save" type="submit" value="Save" />
        </span>

    </span>

  </form>

</div>

{% endblock content %}
